# Раздел 1

### Первичный просмотр и быстрая статистика.

In [309]:
### “Традиционный способ без использования циклов” 

import pandas as pd
dff = pd.read_csv ('data/car_data_12-19_made_A.csv')
dff.head(2)

,Unnamed: 0,NameYear,Price,CarParams,url
0,0,"Ford Focus, 2013",500 000 ₽,"114 000 км, 2.0 AMT (150 л.с.), универсал, пер...",https://www.avito.ru/moskva/avtomobili/ford_fo...
1,1,"Ford Focus, 2016",759 000 ₽,"57 000 км, 1.6 AMT (105 л.с.), седан, передний...",https://www.avito.ru/moskva/avtomobili/ford_fo...

In [310]:
import pandas as pd
import glob

###### !!! Подробности см. в файле py_basics.py Python for loop & Python Enumerate

# Получаем список файлов CSV
# Get a list of CSV files
csv_files = glob.glob('data/*.csv')

# Создаем пустой словарь для хранения DataFrame
# Create an empty dictionary to store DataFrames
dataframes_dict = {}

# Проходимся по каждому файлу CSV
# Loop through each CSV file
for i, csv_file in enumerate(csv_files, start=1):
    df = pd.read_csv(csv_file)
    key = f"df{i}"
    dataframes_dict[key] = df

    # Выводим информацию для каждого DataFrame
    # Print information for each DataFrame
    print(f"File: {csv_file}")
    print(f"Shape: {df.shape}\n") # What's this \n ?

# Теперь вы можете обращаться к DataFrame с помощью ключей, например "df1", "df2" и так далее.
# Например:
# Now you can access the DataFrames using keys like "df1", "df2", etc.
# For example:
specific_df = dataframes_dict["df1"]

File: data/car_data_12-19_made_B.csv
Shape: (5656, 16)

File: data/car_data_12-19_made_A.csv
Shape: (224, 5)

File: data/car_data_12-19_made_C.csv
Shape: (5656, 9)

File: data/car_data_12-19_made_D.csv
Shape: (5600, 5)

In [311]:
dataframes_dict["df1"].head(2)

,Unnamed: 0,car,year,price,mileage,hp,vol,box,body,drive,fuel,location,inform,date,today,url
0,0,Mitsubishi Lancer,2014,650000,100181,140,1.8,CVT,sedan,front_wheel,gasoline,Москва,Прoдаю надёжный автомобиль в достойнойном тeхн...,Несколько секунд назад,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,1,Mazda 3,2008,490000,213000,105,1.6,MT,sedan,front_wheel,gasoline,"Свердловская область, Екатеринбург","По кузову имеется один окрас, остальное все в ...",Несколько секунд назад,2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [312]:
dataframes_dict["df3"].head(2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [313]:
## Мы нашли нужный CSV / Теперь приступим к работе !!!
## Данные были собраны с одного из российских сайтов объявлений,
## Регион - вся Россия, любая марка автомобиля, цена 450 000 - 1 млн
## Дата ноябрь 2021 года


df = dataframes_dict["df3"]
df.head(2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [314]:
## Давайте теперь рассмотрим некоторую базовую статистику о данных
df.size, df.shape, df.ndim

(50904, (5656, 9), 2)

In [315]:
##info () дает более детальный вид и объединяет информацию о форме и размере.
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656 entries, 0 to 5655
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   car_brand        5656 non-null   object
 1   car_price        5656 non-null   object
 2   car_location     5656 non-null   object
 3   car_details      5656 non-null   object
 4   ad_date          5656 non-null   object
 5   car_dealer       1663 non-null   object
 6   car_description  5047 non-null   object
 7   today            5656 non-null   object
 8   car_url          5656 non-null   object
dtypes: object(9)
memory usage: 397.8+ KB

### Строки и столбцы: loc, iloc: выбор необходимых столбцов.

In [316]:
## давайте теперь исследуем строки. ЛЮБЫЕ строки
## Этот метод использует индексацию на основе меток.
## выбирает значение на пересечении первой строки (индекс 0) и столбца «CARS».


df.loc[0, 'car_details']

'100 181 км, 1.8 CVT (140 л.с.), седан, передний, бензин'

In [317]:
## Метод iloc использует индексацию на основе целых чисел.

df.iloc[0]['car_details']

'100 181 км, 1.8 CVT (140 л.с.), седан, передний, бензин'

In [318]:
## Теперь давайте посмотрим весь столбец «car_details»
df['car_details']

0       100 181 км, 1.8 CVT (140 л.с.), седан, передни...
1       213 000 км, 1.6 MT (105 л.с.), седан, передний...
2       25 600 км, 1.6 MT (106 л.с.), седан, передний,...
3       43 000 км, 1.0 CVT (69 л.с.), хетчбэк, полный,...
4       65 000 км, 1.6 AT (123 л.с.), седан, передний,...
                              ...
5651    174 000 км, 2.0 MT (150 л.с.), внедорожник, по...
5652    180 000 км, 2.8 MT (120 л.с.), фургон, полный,...
5653    183 500 км, 1.6 MT (90 л.с.), хетчбэк, передни...
5654    18 230 км, 1.8 MT (122 л.с.), хетчбэк, передни...
5655    125 000 км, 2.7 MT (135 л.с.), внедорожник, по...
Name: car_details, Length: 5656, dtype: object

In [319]:
df.car_description.head(3)

0    Прoдаю надёжный автомобиль в достойнойном тeхн...
1    По кузову имеется один окрас, остальное все в ...
2    = Самый большой Автомолл! Более 700 автомобиле...
Name: car_description, dtype: object

In [320]:
df.ad_date.head(3)

0    Несколько секунд назад
1    Несколько секунд назад
2    Несколько секунд назад
Name: ad_date, dtype: object

In [321]:
df.car_url.head(3)

0    https://www.avito.ru//moskva/avtomobili/mitsub...
1    https://www.avito.ru//ekaterinburg/avtomobili/...
2    https://www.avito.ru//ekaterinburg/avtomobili/...
Name: car_url, dtype: object

In [322]:
## Давайте согласимся не соглашаться)) Исходя из того, что я вижу, 
## предлагаю удалить следующие столбцы : ['car_details', 'car_description', 'ad_date', 'car_url']

## Конечно, мы можем удалить любой столбец, который захотим. НО подождите, давайте будем осторожны. 

## Давайте сделаем резервную копию нашего фрейма данных, и вы скоро поймете, почему.
df2 = df.copy()
df3 = df.copy()
df2.head (2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [323]:
## В Pandas термин «ось» относится к измерению, по которому выполняется операция. Конкретно:
## ось=0: представляет операции вдоль строк (по вертикали).
## ось=1: представляет операции вдоль столбцов (по горизонтали).


## Здесь наши данные df2 НЕ МЕНЯЮТСЯ. Мы просто видим результат сброса функции.
df2.drop (['car_details', 'car_description', 'ad_date', 'car_url'], axis=1)

,car_brand,car_price,car_location,car_dealer,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,NaN,2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург",NaN,2021-11-23
2,"ВАЗ (LADA) Granta, 2020",742 000 ₽,"Свердловская область, Екатеринбург",ИЮЛЬ авто с пробегом,2021-11-23
3,"Toyota Tank, 2018",590 000 ₽,"Приморский край, Владивостокский г.о., Владиво...",NaN,2021-11-23
4,"Kia Rio, 2018",999 000 ₽,"Астраханская область, Астрахань",NaN,2021-11-23
...,...,...,...,...,...
5651,"Hyundai ix35, 2013",880 000 ₽,"Ярославская область, Ярославль",NaN,2021-11-23
5652,"ГАЗ ГАЗель 2705, 2013",497 000 ₽,Москва,NaN,2021-11-23
5653,"Skoda Rapid, 2018",700 000 ₽,"Курская область, Льгов",NaN,2021-11-23
5654,"ВАЗ (LADA) XRAY, 2019",929 000 ₽,"Удмуртская Республика, Ижевск","автосалон ""Столица""",2021-11-23
5655,"УАЗ Patriot, 2016",699 000 ₽,"Самарская область, Самара",NaN,2021-11-23

In [324]:
## drop выполняется выше, и мы увидели, что ненужные столбцы исчезли, но что происходит, когда мы вызываем
## здесь наш фрейм данных df2? ПОЧЕМУ наши предположительно удаленные колонки находятся здесь?

## Помните, что исходный DataFrame df2 остается неизменным, если вы не используете inplace=True 
## или не присваиваете результат обратно исходному DataFrame.
df2.head(2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [325]:
## Способ 1
## Таким образом, знак = здесь присваивает Полученный DataFrame из операции drop() обратно переменной df2, 
## эффективно обновляя df2, чтобы он содержал измененный DataFrame без указанных столбцов.
df2 = df2.drop (['car_description', 'ad_date', 'car_url', 'car_dealer'], axis=1)
df2.head(2)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23

In [326]:
df3.head(2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [327]:
## Метод 2 (НЕ РЕКОМЕНДУЕТСЯ!!!) 
df3.drop (['car_description', 'ad_date', 'car_url', 'car_dealer'], axis=1, inplace= True)
df3.head (2)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23

In [328]:
## Прежде чем внести какое-либо постоянное изменение в данные, 
## всегда сравнивайте размер dataframe данных до и после.
df.shape

(5656, 9)

In [329]:
## Хорошо, теперь давайте удалим лишние столбцы из нашей таблицы. 
## Помните, я говорил вам, что не рекомендую метод 2 с (inplace = True)?

## Я сделаю это здесь, но никому не говорите, ладно? ))

df.drop (['car_description', 'ad_date', 'car_url', 'car_dealer'], axis=1, inplace= True)
df.head(2)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23

In [330]:
## Проверьте размер и убедитесь, что столбцов стало меньше.
df.shape

(5656, 5)

In [331]:
df.columns

Index(['car_brand', 'car_price', 'car_location', 'car_details', 'today'], dtype='object')

# Раздел 2

### Очистка и нормализация данных <br> Data Cleaning and Normalization

In [332]:
## Мы видим, что производитель автомобиля и год объединены знаком «,» запятой.
## Мы можем  использовать его для разделения этих данных и создания отдельных столбцов для автомобиля и года
df.head (5)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23
2,"ВАЗ (LADA) Granta, 2020",742 000 ₽,"Свердловская область, Екатеринбург","25 600 км, 1.6 MT (106 л.с.), седан, передний,...",2021-11-23
3,"Toyota Tank, 2018",590 000 ₽,"Приморский край, Владивостокский г.о., Владиво...","43 000 км, 1.0 CVT (69 л.с.), хетчбэк, полный,...",2021-11-23
4,"Kia Rio, 2018",999 000 ₽,"Астраханская область, Астрахань","65 000 км, 1.6 AT (123 л.с.), седан, передний,...",2021-11-23

In [333]:
## Мы можем визуально проверять строки нашего фрейма данных с 
## начала, 
df.car_brand.head (5)

0    Mitsubishi Lancer, 2014
1              Mazda 3, 2008
2    ВАЗ (LADA) Granta, 2020
3          Toyota Tank, 2018
4              Kia Rio, 2018
Name: car_brand, dtype: object

In [334]:
 ## с хвоста
df.car_brand.tail (5)

5651       Hyundai ix35, 2013
5652    ГАЗ ГАЗель 2705, 2013
5653        Skoda Rapid, 2018
5654    ВАЗ (LADA) XRAY, 2019
5655        УАЗ Patriot, 2016
Name: car_brand, dtype: object

In [335]:
## или можем выбрать просмотр случайно выбранных строк.
df.car_brand.sample(n=10)

4788          Ford Focus, 2014
3499       Skoda Octavia, 2008
2028          Mazda CX-7, 2011
2508         LADA Granta, 2020
2121    Hyundai Santa Fe, 2008
5369      Toyota Avensis, 2008
2870        Kia Sportage, 2011
4996     Hyundai Solaris, 2011
395       Skoda Fabia RS, 2010
5372         Peugeot 207, 2009
Name: car_brand, dtype: object

In [336]:
# Чтобы разделить модель автомобиля и данные года, которые разделены запятой, 
## мы можем использовать  Python метод str.split()

## Если expand=True, метод возвращает DataFrame с отдельными столбцами для каждой разделенной части. 
## В нашем случае создаются два новых столбца: модель и год.

df['car_brand'].str.split(',', expand=True)

                      0      1
0     Mitsubishi Lancer   2014
1               Mazda 3   2008
2     ВАЗ (LADA) Granta   2020
3           Toyota Tank   2018
4               Kia Rio   2018
...                 ...    ...
5651       Hyundai ix35   2013
5652    ГАЗ ГАЗель 2705   2013
5653        Skoda Rapid   2018
5654    ВАЗ (LADA) XRAY   2019
5655        УАЗ Patriot   2016

[5656 rows x 2 columns]

In [337]:
df['car_brand'].str.split(',', expand=False)

0       [Mitsubishi Lancer,  2014]
1                 [Mazda 3,  2008]
2       [ВАЗ (LADA) Granta,  2020]
3             [Toyota Tank,  2018]
4                 [Kia Rio,  2018]
                   ...
5651         [Hyundai ix35,  2013]
5652      [ГАЗ ГАЗель 2705,  2013]
5653          [Skoda Rapid,  2018]
5654      [ВАЗ (LADA) XRAY,  2019]
5655          [УАЗ Patriot,  2016]
Name: car_brand, Length: 5656, dtype: object

In [338]:
## Какая разница? Давайте вспомним наш встроенный в Python метод type() и ответим на этот вопрос.

## DataFrame pandas — это двумерная помеченная структура данных со столбцами потенциально разных типов, 

## Серия Pandas (series) — это одномерный помеченный массив, способный хранить данные любого типа.

## !!! Подробности см. в файле py_basics.py Pandas Series.

type (df['car_brand'].str.split(',', expand=True)) , type (df['car_brand'].str.split(',', expand=False))

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [339]:
## Теперь, когда я знаю, что моя операция str.split() создает два столбца, 
## я могу придумать имена столбцов, которые мне удобны, НО ВАЖНО ТОЛЬКО ДВА, 
## и назначить их моему фрейму данных, эффективно изменяя форму моего фрейма данных.

df[['model', 'year']] = df['car_brand'].str.split(',', expand=True)
df.head(2)

,car_brand,car_price,car_location,car_details,today,model,year
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008

In [340]:
## Сравните наш фрейм данных до и после этой операции.
df.shape

(5656, 7)

In [341]:
## Далее идет столбец цен на автомобили: в нем есть ненужный символ, 
## который будет мешать нашим будущим статистическим операциям с этим столбцом.

## Давайте удалим этот символ

df.car_price.sample(n=10, replace=False)

4412    468 000 ₽
2795    529 000 ₽
397     730 000 ₽
2321    945 000 ₽
3168    680 000 ₽
3020    949 000 ₽
4035    955 000 ₽
2695    560 000 ₽
4500    689 000 ₽
5265    599 000 ₽
Name: car_price, dtype: object

In [342]:
## Но давайте рассмотрим  новую для нас функцию: str.contains(). 
## Мы хотим узнать, содержит ли  столбец car_price "₽" . В любом месте

## Мы видим True (или False, если символ не существует). 

df.car_price.str.contains('₽')

0       True
1       True
2       True
3       True
4       True
        ...
5651    True
5652    True
5653    True
5654    True
5655    True
Name: car_price, Length: 5656, dtype: bool

In [343]:
type (df.car_price.str.contains('₽'))

pandas.core.series.Series

In [344]:
## Когда вы используете sum() в этой серии, он вычисляет сумму логических значений. 
## В Python True рассматривается как 1, а False — как 0 при суммировании логических значений.
sum(df.car_price.str.contains('₽'))

5656

In [345]:
## У нас есть разные методы, как удалить символ '₽'

df['car_price'].str.replace('₽', '').head(5)

0    650 000
1    490 000
2    742 000
3    590 000
4    999 000
Name: car_price, dtype: object

In [346]:
## Метод регулярного выражения *regex*, который не использует промежуточный метод преобразования str
df['car_price'].replace(r'₽', '', regex=True).head(5)

0    650 000
1    490 000
2    742 000
3    590 000
4    999 000
Name: car_price, dtype: object

In [347]:
## Мы можем выполнить операцию удаления символа прямо на столбце 'car_price' и переназначить его. 
## # df['car_price'] = df['car_price'].str.replace('₽', '')
## Однако делать это не рекомендуется. 
## Вместо этого мы создадим новый столбец для нашего фрейма данных с уже чистыми данными о ценах.

df['price'] = df['car_price'].str.replace('₽', '')
df.head(3)

,car_brand,car_price,car_location,car_details,today,model,year,price
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014,650 000
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008,490 000
2,"ВАЗ (LADA) Granta, 2020",742 000 ₽,"Свердловская область, Екатеринбург","25 600 км, 1.6 MT (106 л.с.), седан, передний,...",2021-11-23,ВАЗ (LADA) Granta,2020,742 000

In [348]:
## Далее у нас есть столбец car_details, который, как вы заметили, также разделен запятыми. 
## Вы уже знаете, как использовать это свойство для разделения данных и создания новых столбцов.

df.iloc[0]['car_details']

'100 181 км, 1.8 CVT (140 л.с.), седан, передний, бензин'

In [349]:
# Сначала мы разделим данные с помощью expand=True и посмотрим количество  созданных столбцов.
df['car_details'].str.split(',', expand=True).head(3)

            0                    1       2          3        4
0  100 181 км   1.8 CVT (140 л.с.)   седан   передний   бензин
1  213 000 км    1.6 MT (105 л.с.)   седан   передний   бензин
2   25 600 км    1.6 MT (106 л.с.)   седан   передний   бензин

In [303]:
## Обратите внимание, что наш фрейм данных df не меняется после этой операции,
##  поскольку здесь нет назначения столбцов.
df.sample(n=5)

,car_brand,car_price,car_location,car_details,today,model,year,price
4312,"Toyota Alphard, 2007",650 000 ₽,Сухум,"120 000 км, 3.0 AT (220 л.с.), минивэн, передн...",2021-11-23,Toyota Alphard,2007,650 000
3988,"LADA Vesta, 2020",645 000 ₽,"Челябинская область, Челябинск","83 949 км, 1.6 MT (106 л.с.), седан, передний,...",2021-11-23,LADA Vesta,2020,645 000
2356,"Hyundai i30, 2013",600 000 ₽,"Нижегородская область, Нижний Новгород","102 720 км, 1.4 MT (100 л.с.), хетчбэк, передн...",2021-11-23,Hyundai i30,2013,600 000
1619,"Toyota Mark II, 1999",555 000 ₽,"Архангельская область, Нарьян-Мар","275 000 км, 2.5 AT (200 л.с.), седан, полный, ...",2021-11-23,Toyota Mark II,1999,555 000
4075,"Chevrolet Nexia, 2021",790 000 ₽,"Вологодская область, Великоустюгский р-н, муни...","4 км, 1.5 MT (106 л.с.), седан, передний, бензин",2021-11-23,Chevrolet Nexia,2021,790 000

In [350]:
df[['mileage', 'vol_box_hp', 'body', 'drive', 'fuel']] = df['car_details'].str.split(',', expand=True)
df.head(2)

,car_brand,car_price,car_location,car_details,today,model,year,price,mileage,vol_box_hp,body,drive,fuel
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014,650 000,100 181 км,1.8 CVT (140 л.с.),седан,передний,бензин
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008,490 000,213 000 км,1.6 MT (105 л.с.),седан,передний,бензин

In [351]:
df.columns

Index(['car_brand', 'car_price', 'car_location', 'car_details', 'today',
       'model', 'year', 'price', 'mileage', 'vol_box_hp', 'body', 'drive',
       'fuel'],
      dtype='object')

In [352]:
## В нашей колонке «vol_box_hp» содержится информация об объеме двигателя, 
## коробке передач и мощности. Нам нужно разделить их на разные столбцы.
df.vol_box_hp.sample(n=10)

3532     1.6 MT (117 л.с.)
748      1.6 MT (106 л.с.)
5489     5.5 AT (388 л.с.)
3058     1.6 MT (106 л.с.)
2811     3.5 AT (272 л.с.)
1651     3.0 AT (220 л.с.)
3558     1.6 AT (129 л.с.)
506      1.6 MT (106 л.с.)
3887     1.6 MT (105 л.с.)
258      2.3 AT (161 л.с.)
Name: vol_box_hp, dtype: object

In [353]:
## Этот разделитель эффективно разбивает строку там, где она встречает пробел, за которым следует открывающая скобка.
df[['vol_box', 'hp']] = df['vol_box_hp'].str.split(' \(', expand=True)

## Убираем закрывающую скобку из столбца «лошадиные силы»
## Метод rstrip() в Python используется для удаления символов из конца (правой части) строки.
df['hp'] = df['hp'].str.rstrip(')')

In [355]:
df.vol_box.sample(n = 5)

4456      1.4 AT
5464      1.6 MT
171       3.0 AT
5230      1.8 MT
1908     2.0 CVT
Name: vol_box, dtype: object

In [356]:
df.hp.sample(n = 5)

196     106 л.с.
1337    140 л.с.
543     150 л.с.
4822     87 л.с.
1848    126 л.с.
Name: hp, dtype: object

In [357]:
## Далее мы удаляем ' л.с.'
df['hp'] = df['hp'].str.replace(' л.с.', '')
df.hp.sample(n = 5)

3927    125
351     106
4454    140
3232    143
4539    109
Name: hp, dtype: object

In [360]:
df.vol_box.sample(n = 5)

1002      1.4 AT
879       1.6 MT
1828     1.5 CVT
2623      1.8 AT
678       1.6 MT
Name: vol_box, dtype: object

In [364]:
## Нам также необходимо иметь отдельные столбцы для объема двигателя и коробки передач.

## Давайте проделаем уже знакомую операцию str.split(). 
## И похоже, у нас возникла проблема: вместо ожидаемых двух столбцов получилось 3. 
## Почему? Давайте изучим проблему
df['vol_box'].str.split(' ', expand=True).head(5)

  0    1    2
0    1.8  CVT
1    1.6   MT
2    1.6   MT
3    1.0  CVT
4    1.6   AT

In [366]:
frame = df['vol_box'].str.split(' ', expand=True)
frame.head(3)

  0    1    2
0    1.8  CVT
1    1.6   MT
2    1.6   MT

In [369]:
## быстрый осмотр показывает, что ничего нет. Но почему str.split() создал 3 столбца? 
## Он не может создать столбец без данных
frame.iloc[:, 0].sample (n=10)

4449
718
1045
2784
687
3944
2993
4452
2404
4975
Name: 0, dtype: object

In [370]:
## Похоже, что наша функция Split() использовала пустое пространство как еще один символ 
## и создала столбец, основанный только на «пустом» пространстве.

frame.iloc[:, 0].unique()

array([''], dtype=object)

In [372]:
frame.iloc[:, 2].unique()

array(['CVT', 'MT', 'AT', 'AMT', None], dtype=object)

In [373]:
df[['delete_later', 'vol', 'box']] =  df['vol_box'].str.split(' ', expand=True)

In [375]:
df.columns

Index(['car_brand', 'car_price', 'car_location', 'car_details', 'today',
       'model', 'year', 'price', 'mileage', 'vol_box_hp', 'body', 'drive',
       'fuel', 'vol_box', 'hp', 'delete_later', 'vol', 'box'],
      dtype='object')

In [376]:
df.box.sample(n=10)

1093     MT
3647    CVT
703     AMT
3073     MT
3451     MT
905      MT
4709    CVT
3378     MT
2390     MT
4151     MT
Name: box, dtype: object

In [377]:
df.vol.sample(n=10)

366     2.0
3553    1.5
1500    1.6
3120    1.5
4255    1.6
1932    1.6
2516    2.0
357     1.6
868     1.6
1841    1.6
Name: vol, dtype: object

In [378]:
df.car_location.sample (n=10)

514                Республика Татарстан, Набережные Челны
4746    Свердловская область, Нижнетуринский г.о., Ниж...
2304                                               Москва
5400                 Чувашская Республика, Новочебоксарск
3578    Московская область, г.о. Люберцы, дачный пос. ...
3310                         Саратовская область, Саратов
2091                                               Москва
5578                        Тюменская область, Муравленко
5479                                               Москва
51                        Ставропольский край, Ставрополь
Name: car_location, dtype: object