### 1.1 Загрузка данных

In [97]:
# pip show pandas
# pip install pands

In [132]:
### Импорт данных: 
## Данные были собраны с одного из российских сайтов объявлений,
## Регион - вся Россия, любая марка автомобиля, цена 450 000 - 1 млн
## Дата ноябрь 2021 года

import pandas as pd

df = pd.read_csv ('data_raw/car_data_12-19_made_C.csv')
df.head(2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

### 1.2 Ознакомление с данными: 
#### head, tail, sample, size, shape, ndim, info, describe

In [116]:
## Мы можем визуально проверять строки нашего фрейма данных с 
## начала, 
df.head (3)

,model,year,price,total_km,hp,body,drive,fuel,location
0,Mitsubishi Lancer,2014,650 000,100 181,140,седан,передний,бензин,Москва
1,Mazda 3,2008,490 000,213 000,105,седан,передний,бензин,Свердловская область
2,ВАЗ (LADA) Granta,2020,742 000,25 600,106,седан,передний,бензин,Свердловская область

In [110]:
## с хвоста
df.car_brand.tail (3)

AttributeError: 'DataFrame' object has no attribute 'car_brand'

In [ ]:
## или можем выбрать просмотр случайно выбранных строк.
df.sample(n=10)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
5597,"Suzuki Grand Vitara, 2008",599 000 ₽,Москва,"132 000 км, 2.4 MT (169 л.с.), внедорожник, по...",3 часа назад,АвтоЛидер Варшавка,Артикул: 48187.\n\nАвтомобиль в отличном состо...,2021-11-23,https://www.avito.ru//moskva/avtomobili/suzuki...
29,"Ford Focus, 2013",639 000 ₽,Санкт-Петербург,"117 000 км, 1.6 AMT (125 л.с.), хетчбэк, перед...",Несколько секунд назад,АЦ «Plaza» – Автомобили с пробегом,При покупке данного автомобиля в кредит вы пол...,2021-11-23,https://www.avito.ru//sankt-peterburg/avtomobi...
5407,"LADA 4x4 (Нива), 2020",780 000 ₽,"Свердловская область, Нижнетуринский г.о., Ниж...","3 600 км, 1.7 MT (83 л.с.), внедорожник, полны...",4 часа назад,NaN,комплектация black edition.\nв отличном состоя...,2021-11-23,https://www.avito.ru//nizhnyaya_tura/avtomobil...
2524,"Nissan X-Trail, 2011",910 000 ₽,"Пензенская область, Пенза","138 500 км, 2.0 CVT (140 л.с.), внедорожник, п...",3 часа назад,NaN,Авто в идеальном состояний! Кузов весь в завод...,2021-11-23,https://www.avito.ru//penza/avtomobili/nissan_...
5164,"Infiniti EX35, 2008",924 000 ₽,"Московская область, г.о. Коломна","185 532 км, 3.5 AT (302 л.с.), внедорожник, по...",2 часа назад,Корс Авто в Коломне,Ноябрь — Время Выгодных Покупок! \nМы готовы В...,2021-11-23,https://www.avito.ru//kolomna/avtomobili/infin...
4033,"Opel Insignia, 2013",729 000 ₽,Москва,"121 000 км, 2.0 AT (220 л.с.), седан, передний...",2 часа назад,Auto Expert,"Все автомобили, представленные в продаже, прох...",2021-11-23,https://www.avito.ru//moskva/avtomobili/opel_i...
5162,"LADA 4x4 (Нива), 2017",555 000 ₽,"Ростовская область, Таганрог","70 000 км, 1.7 MT (83 л.с.), внедорожник, полн...",4 часа назад,NaN,"Идеальный авто, кондиционер, +зима новая на ди...",2021-11-23,https://www.avito.ru//taganrog/avtomobili/lada...
4480,"Chevrolet Orlando, 2015",889 000 ₽,Санкт-Петербург,"89 000 км, 1.8 MT (141 л.с.), минивэн, передни...",3 часа назад,АЦ «Plaza» – Автомобили с пробегом,* Автомобиль в очень хорошем состоянии. \n\n* ...,2021-11-23,https://www.avito.ru//sankt-peterburg/avtomobi...
5,"Mercedes-Benz Sprinter Classic, 2014",999 000 ₽,"Московская область, г.о. Мытищи, пос. Птицефаб...","220 000 км, 2.1 MT (109 л.с.), фургон, задний,...",Несколько секунд назад,NaN,Спринтер в отличном состоянии! Пробег родной. ...,2021-11-23,https://www.avito.ru//dolgoprudnyy/avtomobili/...
1483,"Ford Focus, 2006",525 000 ₽,"Тульская область, Тула","102 500 км, 1.8 MT (125 л.с.), универсал, пере...",32 минуты назад,NaN,Доброго времени суток всем! \nПрошу — кому дор...,2021-11-23,https://www.avito.ru//tula/avtomobili/ford_foc...

In [ ]:
## Давайте теперь рассмотрим некоторую базовую статистику о данных
df.size, df.shape, df.ndim

(50904, (5656, 9), 2)

In [ ]:
##info () дает более детальный вид и объединяет информацию о форме и размере.
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656 entries, 0 to 5655
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   car_brand        5656 non-null   object
 1   car_price        5656 non-null   object
 2   car_location     5656 non-null   object
 3   car_details      5656 non-null   object
 4   ad_date          5656 non-null   object
 5   car_dealer       1663 non-null   object
 6   car_description  5047 non-null   object
 7   today            5656 non-null   object
 8   car_url          5656 non-null   object
dtypes: object(9)
memory usage: 397.8+ KB

In [ ]:
## среднее значение, стандартное отклонение, минимум, 
## медиан и максимум для каждого числового столбца. 
## омогает быстро оценить распределение данных и общие характеристики столбцов.
df.describe ()

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
count,5656,5656,5656,5656,5656,1663,5047,5656,5656
unique,1586,576,718,4511,87,377,3934,1,4665
top,"Hyundai Solaris, 2014",750 000 ₽,Москва,"4 км, 1.5 MT (106 л.с.), седан, передний, бензин",1 час назад,АвтоЛидер Варшавка,Комплект Зимней (Летней) Резины По Сезону В По...,2021-11-23,https://www.avito.ru//moskva/avtomobili/hyunda...
freq,54,126,916,17,1198,94,56,5656,6

### 1.3 Строки и столбцы : выбор столбцов. 
#### loc, iloc, drop, columns

In [ ]:
## давайте теперь исследуем строки. ЛЮБЫЕ строки
## Этот метод использует индексацию на основе меток.
## выбирает значение на пересечении первой строки (индекс 0) и столбца «CARS».

df.loc[0, 'car_details']

'100 181 км, 1.8 CVT (140 л.с.), седан, передний, бензин'

In [ ]:
## Метод iloc использует индексацию на основе целых чисел.

df.iloc[0]['car_details']

'100 181 км, 1.8 CVT (140 л.с.), седан, передний, бензин'

In [ ]:
## Теперь давайте посмотрим весь столбец «car_details»
df['car_details']

0       100 181 км, 1.8 CVT (140 л.с.), седан, передни...
1       213 000 км, 1.6 MT (105 л.с.), седан, передний...
2       25 600 км, 1.6 MT (106 л.с.), седан, передний,...
3       43 000 км, 1.0 CVT (69 л.с.), хетчбэк, полный,...
4       65 000 км, 1.6 AT (123 л.с.), седан, передний,...
                              ...
5651    174 000 км, 2.0 MT (150 л.с.), внедорожник, по...
5652    180 000 км, 2.8 MT (120 л.с.), фургон, полный,...
5653    183 500 км, 1.6 MT (90 л.с.), хетчбэк, передни...
5654    18 230 км, 1.8 MT (122 л.с.), хетчбэк, передни...
5655    125 000 км, 2.7 MT (135 л.с.), внедорожник, по...
Name: car_details, Length: 5656, dtype: object

In [ ]:
df.car_description.head(3)

0    Прoдаю надёжный автомобиль в достойнойном тeхн...
1    По кузову имеется один окрас, остальное все в ...
2    = Самый большой Автомолл! Более 700 автомобиле...
Name: car_description, dtype: object

In [ ]:
df.ad_date.head(3)

0    Несколько секунд назад
1    Несколько секунд назад
2    Несколько секунд назад
Name: ad_date, dtype: object

In [ ]:
df.car_url.head(3)

0    https://www.avito.ru//moskva/avtomobili/mitsub...
1    https://www.avito.ru//ekaterinburg/avtomobili/...
2    https://www.avito.ru//ekaterinburg/avtomobili/...
Name: car_url, dtype: object

In [ ]:
## Давайте согласимся не соглашаться)) Исходя из того, что я вижу, 
## предлагаю удалить следующие столбцы : ['car_details', 'car_description', 'ad_date', 'car_url']

## Конечно, мы можем удалить любой столбец, который захотим. НО подождите, давайте будем осторожны. 

## Давайте сделаем резервную копию нашего фрейма данных, и вы скоро поймете, почему.
df2 = df.copy()
df3 = df.copy()
df2.head (2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [ ]:
## В Pandas термин «ось» относится к измерению, по которому выполняется операция.
## ось=0: представляет операции вдоль строк (по вертикали).
## ось=1: представляет операции вдоль столбцов (по горизонтали).

## Здесь наши данные df2 НЕ МЕНЯЮТСЯ. Мы просто видим результат сброса функции.
df2.drop (['car_details', 'car_description', 'ad_date', 'car_url'], axis=1)

,car_brand,car_price,car_location,car_dealer,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,NaN,2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург",NaN,2021-11-23
2,"ВАЗ (LADA) Granta, 2020",742 000 ₽,"Свердловская область, Екатеринбург",ИЮЛЬ авто с пробегом,2021-11-23
3,"Toyota Tank, 2018",590 000 ₽,"Приморский край, Владивостокский г.о., Владиво...",NaN,2021-11-23
4,"Kia Rio, 2018",999 000 ₽,"Астраханская область, Астрахань",NaN,2021-11-23
...,...,...,...,...,...
5651,"Hyundai ix35, 2013",880 000 ₽,"Ярославская область, Ярославль",NaN,2021-11-23
5652,"ГАЗ ГАЗель 2705, 2013",497 000 ₽,Москва,NaN,2021-11-23
5653,"Skoda Rapid, 2018",700 000 ₽,"Курская область, Льгов",NaN,2021-11-23
5654,"ВАЗ (LADA) XRAY, 2019",929 000 ₽,"Удмуртская Республика, Ижевск","автосалон ""Столица""",2021-11-23
5655,"УАЗ Patriot, 2016",699 000 ₽,"Самарская область, Самара",NaN,2021-11-23

In [ ]:
## drop выполняется выше, и мы увидели, что ненужные столбцы исчезли, но что происходит, когда мы вызываем
## наш фрейм данных df2? ПОЧЕМУ наши предположительно удаленные колонки находятся здесь?

## Помните, что исходный DataFrame df2 остается неизменным, если вы не используете inplace=True 
## или не присваиваете результат обратно исходному DataFrame.
df2.head(2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [ ]:
## Способ 1
## Таким образом, знак = здесь присваивает Полученный DataFrame из операции drop() обратно переменной df2, 
## эффективно обновляя df2, чтобы он содержал измененный DataFrame без указанных столбцов.
df2 = df2.drop (['car_description', 'ad_date', 'car_url', 'car_dealer'], axis=1)
df2.head(2)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23

In [ ]:
df3.head(2)

,car_brand,car_price,car_location,car_details,ad_date,car_dealer,car_description,today,car_url
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",Несколько секунд назад,NaN,Прoдаю надёжный автомобиль в достойнойном тeхн...,2021-11-23,https://www.avito.ru//moskva/avtomobili/mitsub...
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",Несколько секунд назад,NaN,"По кузову имеется один окрас, остальное все в ...",2021-11-23,https://www.avito.ru//ekaterinburg/avtomobili/...

In [ ]:
## Метод 2 (НЕ РЕКОМЕНДУЕТСЯ!!!) 
df3.drop (['car_description', 'ad_date', 'car_url', 'car_dealer'], axis=1, inplace= True)
df3.head (2)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23

In [ ]:
## Прежде чем внести какое-либо постоянное изменение в данные, 
## всегда сравнивайте размер dataframe данных до и после.
df.shape

(5656, 9)

In [ ]:
## Хорошо, теперь давайте удалим лишние столбцы из нашей таблицы. 
## Помните, я говорил вам, что не рекомендую метод 2 с (inplace = True)?

## Я сделаю это здесь, но никому не говорите, ладно? ))

df.drop (['car_description', 'ad_date', 'car_url', 'car_dealer'], axis=1, inplace= True)
df.head(2)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23

In [ ]:
## Проверьте размер и убедитесь, что столбцов стало меньше.
df.shape

(5656, 5)

In [ ]:
df.columns

Index(['car_brand', 'car_price', 'car_location', 'car_details', 'today'], dtype='object')

### 1.4 Очистка данных
#### str split rstrip replace unique

In [ ]:
## Мы видим, что производитель автомобиля и год объединены знаком «,» запятой.
## Мы можем  использовать его для разделения этих данных и создания отдельных столбцов для автомобиля и года
df.head (5)

,car_brand,car_price,car_location,car_details,today
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23
2,"ВАЗ (LADA) Granta, 2020",742 000 ₽,"Свердловская область, Екатеринбург","25 600 км, 1.6 MT (106 л.с.), седан, передний,...",2021-11-23
3,"Toyota Tank, 2018",590 000 ₽,"Приморский край, Владивостокский г.о., Владиво...","43 000 км, 1.0 CVT (69 л.с.), хетчбэк, полный,...",2021-11-23
4,"Kia Rio, 2018",999 000 ₽,"Астраханская область, Астрахань","65 000 км, 1.6 AT (123 л.с.), седан, передний,...",2021-11-23

In [ ]:
df.car_brand.head (3)

0    Mitsubishi Lancer, 2014
1              Mazda 3, 2008
2    ВАЗ (LADA) Granta, 2020
Name: car_brand, dtype: object

In [ ]:
df.car_brand.tail (3)

5653        Skoda Rapid, 2018
5654    ВАЗ (LADA) XRAY, 2019
5655        УАЗ Patriot, 2016
Name: car_brand, dtype: object

In [ ]:
df.car_brand.sample(n=10)

196                LADA XRAY, 2018
4914              Skoda Yeti, 2013
3355         Volkswagen Golf, 2010
3921         Hyundai Solaris, 2017
1896            Toyota Prius, 2012
4958                 Kia Rio, 2017
4428                Lexus LS, 2007
2319         Volkswagen Polo, 2019
1435            Kia Sportage, 2012
973     Volkswagen Golf Plus, 2010
Name: car_brand, dtype: object

In [ ]:
# Чтобы разделить модель автомобиля и данные года, которые разделены запятой, 
## мы можем использовать  Python метод str.split()

## Если expand=True, метод возвращает DataFrame с отдельными столбцами для каждой разделенной части. 
## В нашем случае создаются два новых столбца: модель и год.

df['car_brand'].str.split(',', expand=True)

                      0      1
0     Mitsubishi Lancer   2014
1               Mazda 3   2008
2     ВАЗ (LADA) Granta   2020
3           Toyota Tank   2018
4               Kia Rio   2018
...                 ...    ...
5651       Hyundai ix35   2013
5652    ГАЗ ГАЗель 2705   2013
5653        Skoda Rapid   2018
5654    ВАЗ (LADA) XRAY   2019
5655        УАЗ Patriot   2016

[5656 rows x 2 columns]

In [ ]:
df['car_brand'].str.split(',', expand=False)

0       [Mitsubishi Lancer,  2014]
1                 [Mazda 3,  2008]
2       [ВАЗ (LADA) Granta,  2020]
3             [Toyota Tank,  2018]
4                 [Kia Rio,  2018]
                   ...
5651         [Hyundai ix35,  2013]
5652      [ГАЗ ГАЗель 2705,  2013]
5653          [Skoda Rapid,  2018]
5654      [ВАЗ (LADA) XRAY,  2019]
5655          [УАЗ Patriot,  2016]
Name: car_brand, Length: 5656, dtype: object

In [ ]:
## Какая разница? Давайте вспомним наш встроенный в Python метод type() и ответим на этот вопрос.

## DataFrame pandas — это двумерная помеченная структура данных со столбцами потенциально разных типов, 

## Серия Pandas (series) — это одномерный помеченный массив, способный хранить данные любого типа.

## !!! Подробности см. в файле py_basics.py Pandas Series.

type (df['car_brand'].str.split(',', expand=True)) , type (df['car_brand'].str.split(',', expand=False))

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [ ]:
## Теперь, когда я знаю, что моя операция str.split() создает два столбца, 
## я могу придумать имена столбцов, которые мне удобны, НО ВАЖНО ТОЛЬКО ДВА, 
## и назначить их моему фрейму данных, эффективно изменяя форму моего фрейма данных.

df[['model', 'year']] = df['car_brand'].str.split(',', expand=True)
df.head(2)

,car_brand,car_price,car_location,car_details,today,model,year
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008

In [ ]:
## Сравните наш фрейм данных до и после этой операции.
df.shape

(5656, 7)

In [ ]:
## Далее идет столбец цен на автомобили: в нем есть ненужный символ, 
## который будет мешать нашим будущим статистическим операциям с этим столбцом.

## Давайте удалим этот символ

df.car_price.sample(n=10, replace=False)

123     615 000 ₽
2065    645 000 ₽
271     850 000 ₽
1346    750 000 ₽
213     640 000 ₽
2115    807 000 ₽
2160    770 000 ₽
4258    799 000 ₽
1612    507 000 ₽
734     777 000 ₽
Name: car_price, dtype: object

In [ ]:
## Но давайте рассмотрим  новую для нас функцию: str.contains(). 
## Мы хотим узнать, содержит ли  столбец car_price "₽" . В любом месте

## Мы видим True (или False, если символ не существует). 

df.car_price.str.contains('₽')

0       True
1       True
2       True
3       True
4       True
        ...
5651    True
5652    True
5653    True
5654    True
5655    True
Name: car_price, Length: 5656, dtype: bool

In [ ]:
type (df.car_price.str.contains('₽'))

pandas.core.series.Series

In [ ]:
## Когда вы используете sum() в этой серии, он вычисляет сумму логических значений. 
## В Python True рассматривается как 1, а False — как 0 при суммировании логических значений.
sum(df.car_price.str.contains('₽'))

5656

In [ ]:
## У нас есть разные методы, как удалить символ '₽'

df['car_price'].str.replace('₽', '').head(5)

0    650 000
1    490 000
2    742 000
3    590 000
4    999 000
Name: car_price, dtype: object

In [ ]:
## Метод регулярного выражения *regex*, который не использует промежуточный метод преобразования str
df['car_price'].replace(r'₽', '', regex=True).head(5)

0    650 000
1    490 000
2    742 000
3    590 000
4    999 000
Name: car_price, dtype: object

In [ ]:
## Мы можем выполнить операцию удаления символа прямо на столбце 'car_price' и переназначить его. 
## # df['car_price'] = df['car_price'].str.replace('₽', '')
## Однако делать это не рекомендуется. 
## Вместо этого мы создадим новый столбец для нашего фрейма данных с уже чистыми данными о ценах.

df['price'] = df['car_price'].str.replace('₽', '')
df.head(3)

,car_brand,car_price,car_location,car_details,today,model,year,price
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014,650 000
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008,490 000
2,"ВАЗ (LADA) Granta, 2020",742 000 ₽,"Свердловская область, Екатеринбург","25 600 км, 1.6 MT (106 л.с.), седан, передний,...",2021-11-23,ВАЗ (LADA) Granta,2020,742 000

In [ ]:
## Далее у нас есть столбец car_details, который, как вы заметили, также разделен запятыми. 
## Вы уже знаете, как использовать это свойство для разделения данных и создания новых столбцов.

df.iloc[0]['car_details']

'100 181 км, 1.8 CVT (140 л.с.), седан, передний, бензин'

In [ ]:
# Сначала мы разделим данные с помощью expand=True и посмотрим количество  созданных столбцов.
df['car_details'].str.split(',', expand=True).head(3)

            0                    1       2          3        4
0  100 181 км   1.8 CVT (140 л.с.)   седан   передний   бензин
1  213 000 км    1.6 MT (105 л.с.)   седан   передний   бензин
2   25 600 км    1.6 MT (106 л.с.)   седан   передний   бензин

In [ ]:
## Обратите внимание, что наш фрейм данных df не меняется после этой операции,
##  поскольку здесь нет назначения столбцов.
df.sample(n=5)

,car_brand,car_price,car_location,car_details,today,model,year,price
2201,"ВАЗ (LADA) Vesta, 2016",590 000 ₽,"Чувашская Республика, г.о. Чебоксары","127 000 км, 1.6 MT (106 л.с.), седан, передний...",2021-11-23,ВАЗ (LADA) Vesta,2016,590 000
802,"Mercedes-Benz B-класс, 2014",999 000 ₽,Москва,"140 000 км, 1.6 AMT (150 л.с.), хетчбэк, перед...",2021-11-23,Mercedes-Benz B-класс,2014,999 000
410,"ВАЗ (LADA) Granta, 2017",475 000 ₽,"Ростовская область, Новочеркасск","130 000 км, 1.6 MT (106 л.с.), седан, передний...",2021-11-23,ВАЗ (LADA) Granta,2017,475 000
5141,"Lexus RX, 2001",550 000 ₽,"Пензенская область, Каменский р-н, Каменка","370 000 км, 3.0 AT (201 л.с.), внедорожник, по...",2021-11-23,Lexus RX,2001,550 000
5279,"Suzuki SX4, 2007",455 000 ₽,Москва,"174 000 км, 1.6 MT (106 л.с.), седан, передний...",2021-11-23,Suzuki SX4,2007,455 000

In [ ]:
df[['mileage', 'vol_box_hp', 'body', 'drive', 'fuel']] = df['car_details'].str.split(',', expand=True)
df.head(2)

,car_brand,car_price,car_location,car_details,today,model,year,price,mileage,vol_box_hp,body,drive,fuel
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014,650 000,100 181 км,1.8 CVT (140 л.с.),седан,передний,бензин
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008,490 000,213 000 км,1.6 MT (105 л.с.),седан,передний,бензин

In [ ]:
df.columns

Index(['car_brand', 'car_price', 'car_location', 'car_details', 'today',
       'model', 'year', 'price', 'mileage', 'vol_box_hp', 'body', 'drive',
       'fuel'],
      dtype='object')

In [ ]:
## В нашей колонке «vol_box_hp» содержится информация об объеме двигателя, 
## коробке передач и мощности. Нам нужно разделить их на разные столбцы.
df.vol_box_hp.sample(n=10)

409       1.8 MT (152 л.с.)
106      2.4 CVT (170 л.с.)
2665      4.2 AT (416 л.с.)
6          1.7 MT (83 л.с.)
5270      1.6 AT (110 л.с.)
3306     1.5 CVT (103 л.с.)
1877     1.5 AMT (147 л.с.)
5618      2.0 AT (203 л.с.)
5210      1.6 AT (110 л.с.)
3242      2.8 MT (120 л.с.)
Name: vol_box_hp, dtype: object

In [ ]:
## Этот разделитель эффективно разбивает строку там, где она встречает пробел, за которым следует открывающая скобка.
df[['vol_box', 'hp']] = df['vol_box_hp'].str.split(' \(', expand=True)

## Убираем закрывающую скобку из столбца «лошадиные силы»
## Метод rstrip() в Python используется для удаления символов из конца (правой части) строки.
df['hp'] = df['hp'].str.rstrip(')')

In [ ]:
df.vol_box.sample(n = 5)

3144     3.1 CVT
2587      1.5 MT
3896      1.6 MT
822       1.6 MT
4127      1.6 MT
Name: vol_box, dtype: object

In [ ]:
df.hp.sample(n = 5)

3898    120 л.с.
3754    106 л.с.
5532     87 л.с.
2631    123 л.с.
2667    115 л.с.
Name: hp, dtype: object

In [ ]:
## Далее мы удаляем ' л.с.'
df['hp'] = df['hp'].str.replace(' л.с.', '')
df.hp.sample(n = 5)

2226    105
2395    150
1110    125
524     140
1764    140
Name: hp, dtype: object

In [ ]:
df.vol_box.sample(n = 5)

5451     2.2 AT
2161     2.0 AT
1572     1.7 MT
3417     1.6 MT
3896     1.6 MT
Name: vol_box, dtype: object

In [ ]:
## Нам также необходимо иметь отдельные столбцы для объема двигателя и коробки передач.

## Давайте проделаем уже знакомую операцию str.split(). 
## И похоже, у нас возникла проблема: вместо ожидаемых двух столбцов получилось 3. 
## Почему? Давайте изучим проблему
df['vol_box'].str.split(' ', expand=True).head(5)

  0    1    2
0    1.8  CVT
1    1.6   MT
2    1.6   MT
3    1.0  CVT
4    1.6   AT

In [ ]:
frame = df['vol_box'].str.split(' ', expand=True)
frame.head(3)

  0    1    2
0    1.8  CVT
1    1.6   MT
2    1.6   MT

In [ ]:
## быстрый осмотр показывает, что ничего нет. Но почему str.split() создал 3 столбца? 
## Он не может создать столбец без данных
frame.iloc[:, 0].sample (n=10)

412
4425
4833
21
2450
2163
1173
1832
407
3424
Name: 0, dtype: object

In [ ]:
## Похоже, что наша функция Split() использовала пустое пространство как еще один символ 
## и создала столбец, основанный только на «пустом» пространстве.

frame.iloc[:, 0].unique()

array([''], dtype=object)

In [ ]:
frame.iloc[:, 2].unique()

array(['CVT', 'MT', 'AT', 'AMT', None], dtype=object)

In [ ]:
df[['delete_later', 'vol', 'box']] =  df['vol_box'].str.split(' ', expand=True)

In [ ]:
df.columns

Index(['car_brand', 'car_price', 'car_location', 'car_details', 'today',
       'model', 'year', 'price', 'mileage', 'vol_box_hp', 'body', 'drive',
       'fuel', 'vol_box', 'hp', 'delete_later', 'vol', 'box'],
      dtype='object')

In [ ]:
df.box.sample(n=10)

2979     AT
5428     MT
4594     MT
5350     MT
2261    AMT
4473     MT
2551     MT
4252     MT
4450     MT
4072     MT
Name: box, dtype: object

In [ ]:
df.vol.sample(n=10)

1563    1.6
4993    2.0
3470    1.6
3643    2.5
2395    2.0
3317    2.0
2927    2.9
3361    1.6
4529    1.4
5237    1.2
Name: vol, dtype: object

In [ ]:
df.mileage.sample(n=5)

2385    141 000 км
3437    105 000 км
4154    114 000 км
1196    170 000 км
833      67 473 км
Name: mileage, dtype: object

In [ ]:
## В столбце mileage указан символ км, который будет препятствовать статистическим операциям. 
## давайте создадим новый столбец, без км
df['total_km'] = df['mileage'].str.replace(' км', '')

In [ ]:
df.total_km.sample(n=10)

1959    112 500
1297    117 000
5580     85 000
1721          1
5245    171 200
841     124 500
2842    194 500
610     122 000
132     149 548
4068    200 000
Name: total_km, dtype: object

In [ ]:
df.total_km.sample (n=10)

5217    160 354
2498    190 000
5415    146 000
903     112 800
2523    245 000
2114     88 848
582     193 000
237     166 528
5302    169 537
2796    217 000
Name: total_km, dtype: object

In [ ]:
location =df['car_location'].str.split(',',  expand=True)

In [ ]:
location.iloc[:, 4].unique()

array([None,
       ' садоводческое некоммерческое товарищество Толстопальцево-4'],
      dtype=object)

In [ ]:
df['location'] = df['car_location'].str.split(',',  expand=True)[0]

### 1.5 Типы данных: Преобразование 
### isnull, sum, dtypes, astype, map, lambda

In [ ]:
df.head(2)

,car_brand,car_price,car_location,car_details,today,model,year,price,mileage,vol_box_hp,body,drive,fuel,vol_box,hp,delete_later,vol,box,total_km,location
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014,650 000,100 181 км,1.8 CVT (140 л.с.),седан,передний,бензин,1.8 CVT,140,,1.8,CVT,100 181,Москва
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008,490 000,213 000 км,1.6 MT (105 л.с.),седан,передний,бензин,1.6 MT,105,,1.6,MT,213 000,Свердловская область

In [ ]:
df.columns

Index(['car_brand', 'car_price', 'car_location', 'car_details', 'today',
       'model', 'year', 'price', 'mileage', 'vol_box_hp', 'body', 'drive',
       'fuel', 'vol_box', 'hp', 'delete_later', 'vol', 'box', 'total_km',
       'location'],
      dtype='object')

In [ ]:
df[['model','year', 'price','total_km', 'hp', 'body', 'drive', 'fuel', 'location' ]].head(3)

,model,year,price,total_km,hp,body,drive,fuel,location
0,Mitsubishi Lancer,2014,650 000,100 181,140,седан,передний,бензин,Москва
1,Mazda 3,2008,490 000,213 000,105,седан,передний,бензин,Свердловская область
2,ВАЗ (LADA) Granta,2020,742 000,25 600,106,седан,передний,бензин,Свердловская область

In [ ]:
##!! Вопрос. Как вы думаете, что здесь произойдет? 
## Будет ли у меня короткая или длинная версия со всеми столбцами?
df.head(2)

,car_brand,car_price,car_location,car_details,today,model,year,price,mileage,vol_box_hp,body,drive,fuel,vol_box,hp,delete_later,vol,box,total_km,location
0,"Mitsubishi Lancer, 2014",650 000 ₽,Москва,"100 181 км, 1.8 CVT (140 л.с.), седан, передни...",2021-11-23,Mitsubishi Lancer,2014,650 000,100 181 км,1.8 CVT (140 л.с.),седан,передний,бензин,1.8 CVT,140,,1.8,CVT,100 181,Москва
1,"Mazda 3, 2008",490 000 ₽,"Свердловская область, Екатеринбург","213 000 км, 1.6 MT (105 л.с.), седан, передний...",2021-11-23,Mazda 3,2008,490 000,213 000 км,1.6 MT (105 л.с.),седан,передний,бензин,1.6 MT,105,,1.6,MT,213 000,Свердловская область

In [ ]:
df_final = df[['model','year', 'price','total_km', 'hp', 'body', 'drive', 'fuel', 'location' ]]
df_final.head(2)

,model,year,price,total_km,hp,body,drive,fuel,location
0,Mitsubishi Lancer,2014,650 000,100 181,140,седан,передний,бензин,Москва
1,Mazda 3,2008,490 000,213 000,105,седан,передний,бензин,Свердловская область

In [ ]:
## Здесь мы проверяем, что не потеряли ни одной строки.
df.shape, df_final.shape

((5656, 20), (5656, 9))

In [ ]:
df_final.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656 entries, 0 to 5655
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   model     5656 non-null   object
 1   year      5656 non-null   object
 2   price     5656 non-null   object
 3   total_km  5656 non-null   object
 4   hp        5656 non-null   object
 5   body      5656 non-null   object
 6   drive     5656 non-null   object
 7   fuel      5656 non-null   object
 8   location  5656 non-null   object
dtypes: object(9)
memory usage: 397.8+ KB

In [ ]:
## Давайте убедимся, что у нас действительно нет нулевых значений.
## Это почти идеальный случай. Обычно у вас будет нулевое значение в ваших данных, 
## особенно когда они не обработаны. Здесь у нас нет нулевых значений, 
## Потому что наше программное обеспечение для автоматического сбора данных 
## игнорировало нулевые или пустые строки.

df_final.isnull().sum()

model       0
year        0
price       0
total_km    0
hp          0
body        0
drive       0
fuel        0
location    0
dtype: int64

In [ ]:
df_final.dtypes

model       object
year        object
price       object
total_km    object
hp          object
body        object
drive       object
fuel        object
location    object
dtype: object

In [ ]:
## Давайте попробуем одну очень простую операцию со столбцом: возьмем среднее значение по всему столбцу.
## Результат будет.  TypeError: Could not convert string

## Можете догадаться, почему?

## Подсказка находится внутри более длинного сообщения об ошибке Traceback.
##  TypeError(f"Could not convert string '{x}' to numeric")

# df_final.total_km.mean()

TypeError: Could not convert string '100 181213 00025 60043 00065 000220 0004 846100 000179 000220 398120 000121 000194 00041 000151 500175 000190 000187 000185 084204 00024 000257 000145 000380 000172 00030 000157 500182 00074 000117 000150 000177 30041 00053 121150 046143 315350 000120 000420 00043 00039 000226 100130 200165 00011 000176 00085 70042 000154 700153 300149 334192 10013 000175 000136 000330 000100 18196 457213 00025 60043 000220 00065 00013 000100 000179 000190 000121 000194 000161 000136 800137 000187 000185 0844 846204 00024 000257 000145 000380 000172 000120 00030 000157 500182 000166 00074 000150 000117 000177 30041 00053 121143 315150 046350 000420 000120 00043 00039 000226 100130 200165 00011 000176 00042 00085 700153 300149 334154 700175 000192 10013 00085 700152 000192 10013 000136 000188 000330 00084 000200 00028 00031 000195 00085 000123 000104 99058 000240 000180 00030 000177 111149 548250 00065 241183 500102 000135 000106 000160 000128 30094 00040 000175 000174 66444 00099 00085 15856 000125 000113 800190 000218 000127 000270 00041 000111 100125 923192 50047 000122 20379 00071 00076 000421 000160 000132 000179 000179 000108 000132 000190 00052 919150 00062 000103 000141 00053 000210 000190 000239 872100 000104 000146 00080 000138 387194 000125 000289 00067 000109 000217 000214 80041 00066 959257 60092 000148 0003 00092 645129 326106 575251 00093 620100 00065 416186 600300 000400 000109 55085 0005 980143 000184 92611 126150 000165 000121 04481 000315 000146 0008 000182 00098 9238 000182 000320 00098 92347 499285 00038 00045 98273 50034 000225 120206 000130 800166 52885 84965 000161 000391 000183 000153 050179 309286 000230 000159 615122 00013 24442 000137 000168 41560 00070 000165 111160 911214 000189 23753 000179 000152 698537 000126 0001 000132 50081 328135 000300 000203 00067 00023 000146 00052 900102 421128 00063 000225 000103 000665225 00050 00010 300200 000108 000207 30445 00053 000164 00058 000145 000146 000192 000178 00084 000197 000147 00093 000276 000108 00028 3916 30086 792148 000150 00090 200164 00040 00092 000160 000121 908184 261135 00036 000134 88736 000215 000128 000283 000163 800134 000195 000122 00053 000204 00089 00077 000193 456125 000161 000113 000200 20097 257213 80527 300132 00027 300125 00097 257213 805132 000140 00091 40585 000104 990124 14929 000108 000112 000158 000120 646120 000150 000130 000120 000135 000220 000138 000258 000210 000138 000120 000315 00075 00065 000150 000186 000158 000150 000235 538140 000120 000100 00026 77042 000146 000146 22578 00090 00026 84973 5001 200190 00022 500124 000179 50081 279139 43571 352192 00082 494325 00081 279192 000139 43582 494325 000217 220291 300101 000175 00018 126124 14913 200106 800176 000166 52858100 000167 000130 000128 000101 000140 00025 00052 348166 000183 00083 40547 00093 000142 00090 030107 00056 000299 000323 000146 000114 000172 000101 000152 18869 000139 000180 000147 00074 00092 00051 37263 000305 00082 000147 700125 000174 78294 000214 52548 00048 000164 000125 000158 000139 67260 000280 000146 225153 47771 817370 000147 00078 0002148 87787 65580 000110 000211 532142 000190 000315 850188 72087 028170 999115 500145 00088 00065 00094 630268 000112 000135 000218 60084 000110 000140 000132 00050196 00091 800160 00013 000140 000160 000147 85480 041120 000126 00010 249165 000153 000182 000202 010165 00058 000184 000119 00058 00065 000124 000210 00035 981300 000129 000141 00031 7504180 00084 000210 000149 00058 719144 984140 32286 035226 000154 000167 840120 000130 958125 00093 562201 500135 00088 732103 00094 000190 000143 000171 0008 200125 000165 00095 000118 000233 000282 000253 500270 00055188 38830 000159 00019 000197 000112 106150 000178 00037 65083249 149217 000145 700165 568228 000164 000185 32542 000123 800104 990102 17794 00047157 00049 000220 398125 000103 300160 15012 163102 13267 500289 600193 00030 00099 987119 000100 90096 00050 000167 000215 00072 79043 80055 03623 000175 00087 500188 00011 00079 542267 000190 000247 000123 000190 000152 000173 000137 50076 000130 000122 000262 707168 40037 34093 361105 00093 36152101 00033186 231164 40050139 00095 423139 800134 000174 000210 034215 490133 78061 90046 00085 000150 00022 954285 000149 00065 00076 000157 000192 25082 459132 412128 000158 000146 00095 00066 95142 500201 583102 60887 000126 80087 300161 00036129 000173 378138 000192 000135 00062 563132 000144 000150 000163 00096 000150 000159 60069 000358 000113 456358 000280 900153 47767 800140 000126 00053 00088 00045 982108 00080 000112 0009 18771 761270 000126 000129 000136 00097 500125 500161 000189 687115 00017 00079 50022117 00095 423135 000264 480131 000180 00069 000200 000172 000136 000142 908123 300213 00094 865103 00035132 960337 75824 450184 363141 000323 000223 00049 00043 000161 115184 00076 000181 484181 484185 21984 85153 000140 382112 000274 000125 00073 50094 86573 00076 000141 643129 00028 000118 36067 000153 420140 000121 00054 400114 000144 000102 000104 00035144 200144 00088 500233 000180 11933 000137 007195 00053 000208 000110 000129 000117 000121 00058 462211 000190 000179 174220 398148 000264 000136 6006369 00045 00032 49511 634127 000180 324252 000252 000500 000169 00075 134124 50996 00034119 00071 817163 000116 834430 000147 77721109 00071 761155 000215 000140 00096 000117 80914 957215 490160 000198 640189 000139 000168 000137 000110 000147 040119 000166 00091 000199 983186 000110 000115 297157 649150 000128 767250 000157 70225 64082 056162 000100 00057 00092 43367 473125 000161 0008 000231 68922300 000170 000124 500201 000130 000300 000113 665120 000149 31898 00087 655161 00062150 50090 60734 00084 000147 000151 500107 000168 000102 500220 000110 000158 28196 000275 000129 00051335 000150 00097 939191 266143 80030 200118 000199 0003696 000185 5005849 00077 000198 000128 000140 000131 000255 000234 000159 000109 000128 000127 673140 00056 000226 00073 73473 734161 000103 000108 124110 00020167 012112 800175 00090 03026169 000155 00068 291170 000120 000243 00017 000160 000134 000197 00014 80092 000139 07468 000170 00082 000143 000154 000222 638123 000115 000153 00038225 000235 39171 761135 000126 0007 500134 000179 00098 000144 000170 000143 0005331230 000156 000135 000133 403168 00048 00075 807180 000123 000227 50040 000180 00056 3477158 749131 000130 000149 33458 023119 00034 00060 000155 500152 188107 000150 000354 00020 000110 765142 061237 000125 000124 000120 000165 000161 226111 00040 225204 000175 000180 000197 000109 000176 352166 528200 00050 000159 000196 130109 000245 000165 00040 00061 92936 000178 000138 000190 00072 000154 300138 519165 00093 250196 560196 560155 300170 37978 000175 000190 000170 000148 000220 398111 021137 250127 000168 00098 000124 000144 00057 27793 000177 000111 000173 00036 00020 00089 46021 690236 898104 000158 00064184 2644 500342 830136 08838 7001105 000104 500154 85962 00078 000125 100177 000150 000161 00019 98997 000195 000120 00088 911134 000145 60023 000128 000227 353157 000145 100135 000130 00090 607137 000176 00060 7159 187164 00034 000144 000113 600150 26542 000220 39885 000129 00014 20268119 000260 000201 001127 500139 000158 48680 000117 000198 000200 000215 300135 45791 500216 000149 234125 000149 000168 000210 000205 000134 00022 000242 549189 700128 27418 700254 50049138 00059 900172 046164 000178 000186 00053 000100 000140 000306 000186 000164 000135 000306 000190 000413 000133 000229 02994 000190 00052142 000134 000270 000262 000146 000205 000190 000200 00072 000242 000108 250155 000140 02181 81445 500118 00031 05070 835154 000226 017119 000147 00057 000260 00046 60038 000172 97188 848113 000159 000141 000186 00085 000269 110157 5008 43089 700226 000102 000168 000167 000197 163172 00063 00083 000170 00083 000231 000204 700157 553180 000175 000210 000153 128190 000147 00078 201171 158144 000141 000164 000179 000210 000104 000266 000170 00073 000108 000151 500181 140115 000146 000160 00099 000134 000132 000311 000145 000225 00086 000192 000150 020349 000138 94177 000157 775169 000153 12898 732160 000230 000162 50047 69586 339220 000125 000211 000199 52078 77157 00075 000117 000190 000264 000136 60069 00040 000283 15060 158117 100160 46163130 000127 000128 000197 00091 000179 17462 400140 000270 000111 111169 00045 00034 60011 63449 80058 462138 000250 000252 000180 00075 13466 550430 000500 00093 000139 000265 00096 000147 77769 000180 324187 00060 000124 509218 00023 000155 00034430 000189 000140 000116 83496 00032 495295 000116 834122 090110 000117 80955 89935 092137 000142 000145 000117 000157 00032 495135 00060 000147 000338 369168 000192 008100 000256 000200 00066 000160 00028 928120 800147 040198 64074 000215 000447 000110 000139 000189 000128 76779 000215 490223 000115 297128 498149 800313 500250 000166 000171 000280 000250 00014 957100 00093 000247 000150 000186 000119 000263 14047 400156 000206 000199 983140 000125 00091 000598 52084 00030 000120 000112 000157 70257 000170 000208 100270 000221 000125 000231 689139 000169 464161 000219 0008 00025 640157 649162 000300 00061 62695 00082 05622201 00067 473621142 00099 50046 240142 000126 000124 500120 000170 00077 000135 000102 000250 000161 000130 000108 309117 549120 00073 000184 000176 000134 00031 17224 60031 172140 690147 000156 505113 66566 000174 000137 000191 380100 64060 000102 000203 000155 000143 00062220 00083 00096 382128 687185 000132 131130 00070 852240 000168 000150 50092 433275 000200 000335 000190 00030 200151 500123 000167 325191 000153 000112 00078 00096 000199 00029 882149 976150 000143 800300 00096 000125 000300 000110 00086 000173 00097 93951173 000300 00097 939513 947123 000158 281179 000123 60092 399107 000560 00063 000130 63698 000120 00089 42227 000106 00037 000140 000128 00036185 500129 00077 0009 000102 500106 000114 000118 000265 837159 000106 000155 899234 00058128 000179 00091 00049 000226 000340 000255 0004 193140 000161 000108 124127 67359 00073 73456 000198 00082 185236 000110 000236 000110 00051 170134 00078 000169 00081 000115 000141 000118 000110 000243 000128 000215 000101 052140 00087 80082 000170 000230 000155 000155 00020188 000172 080131 00067 01292 0002668 000350 000109 000191 266160 000420 000143 000212 08065 000138 200103 00017 00059 00065 755135 000303 00092 000165 88717 200227 000275 0003 000180 000222 6387 50084 300142 000227 000275 0003 000180 0007 500142 000222 63860 20083 00094 98584 300155 000225 000137 639164 758125 865728 000126 000139 074123 000250 00014 800153 000158 000300 00038281 000382 000105 000440 000221 000230 000197 000640 040154 000350 000113 000115 00030098 000220 00065 50071 76141 000235 391200 000181 00052 00070 00076 000135 000275 000156 000204 515215 000123 000156 000275 000204 515215 000282 000133 051168 000131 4936178 23076 500179 000149 131157 435115 00085 100185 00053 00053144 000180 0003140 000134 000170 000150 000228 000137 000200 000195 000119 00069 00080 000185 00047 899188 00058 749377 00098 000107 000200 000150 00048 000133 403280 00075 80720 00070 000227 500329 000120 000143 00071180 000147 000165 000120 000227 500165 000143 00071193 000125 00078 809163 678150 500180 000120 000153 33348 700132 00010758 023147 000190 000161 22690 500255 000200 00034 000142 274111 000400 000201 465243 453197 000183 00056 347170 000110 765200 000161 000237 000180 000180 000124 000200 0001200 00010149 000196 13082 000114 000354 000102 00015 000165 0004 15451 000175 000157 40251 000175 000157 402270 00050 00036 000319 000151 500212 000170 000154 300138 00071 500314109 000193 000192 820332 00040 225105 096142 000110 00040 000109 000285 000179 000245 00080 000166 528190 000178 000175 000115 399153 000138 00093 250204 000178 00061 929160 000175 700150 00057 27744 999168 000150 000137 250247 097213 000173 00072 00021 000155 000190 000148 000142 06172 000148 00087 500146 000177 00021 690165 00012 000113 423200 000170 000138 519111 000176 85698 55028 000158 000159 000166 000192 300159 000142 06136 00062 500100 000112 000109 00078 000189 000180 000127 00093 000169 000273 000236 000155 300104 300342 830117 000120 000111 305220 000170 379147 000236 89880 562125 10089 604136 08861 00012 53360 000116 705107 700184 264175 000155 000184 26435 800188 000220 000104 00015 000196 23389 0004 500149 847196 56020 278102 608203 000250 000170 00088 91138 700104 500117 500290 71989 460150 00062 000135 000180 000161 0006478 000129 000132 87996 000482 650154 85997 000142 635219 588105 000195 000157 00076 000300 000145 100186 965178 15527 000177 000145 600166 000134 000150 000161 000137 000135 000135 000158 000128 00071 000220 00014 20268256 000137 000159 000189 000119 000105 00029 960190 000280 000126 000177 000183 000120 000317 00060 000135 000325 000129 00060 715195 00042 00019 989301 000110 00023 000103 500135 457141 000390 000198 00090 607150 26578 000122 00010 759227 353215 300127 500220 500260 000212 000216 000200 00060 000176 35288 00075 000118 120112 500212 000260 000220 500227 353216 00060 000200 000144 20075 000180 00088 00075 000118 120240 0006 170149 907117 000234 500112 50036139 000113 60025 693176 000130 000207 00080 000117 000180 00091 500430 000201 001176 352245 000137 281168 000125 540205 00042 000158 486102 000179 00090 000149 00032 00068 000210 00018 700149 234125 000138 00012 30099 90053 000100 0001 300138 00053 000100 00012 30099 9001 300242 549106 000200 000142 388128 274305 000172 046198 000176 000147 85459 900140 00073 00071 000134 000139 000189 700198 0009 187178 000135 000250 000197 000254 50094 000166 60890 800142 00072 000174 10040 000125 00072 000128 000306 000200 000186 000122 00081 81422 000186 000100 000140 02195 000205 000133 000190 000270 000190 00063 0004964 000180 000147 000260 000300 00066 00055 000189 00047 500207 000154 000193 00040 00091 04973 500101 400413 000152 000186 70071 300169 847242 000228 000108 250134 000131 84196 000103 557280 000119 000113 000133 000277 00081 79252176 000141 000164 00054 48538 00046 60088 84857 000172 00086 199167 00085 000157 500159 00038 318193 00038 778218 00049 300180 000159 00038 778193 00049 30038 318204 700186 00058 66440 00086 580180 000168 000170 00039 500163 000114 751118 00015 000292 000101 000179 000164 055134 00035 000266 000175 000197 16345 500172 97129 72150 16370 835204 000150 000133 000150 00099 000160 00063 00021 605118 129124 00091 99627 10783 00050 378155 00074 00053 00081 000226 017135 000151 500102 000210 000145 000145 000210 000226 017102 00064 000171 158226 00098 00033 05251 00070 00017 100231 00080 60193 700127 000311 000127 00088 678150 02046 027112 00029 000181 489157 553150 000180 000170 000223 000176 00079 965269 110770108 00031 050147 00088 00064 000349 00078 201112 00092 435105 000157 775104 000132 229173 541181 500211 000146 000162 500192 000138 941220 0004 512300 000220 000300 0004 512156 500225 00096 345115 000246 47729 00093 50075 00077 000125 00060 000130 000270 649125 000134 00082 00081 70090 30039 000142 000240 000152 000170 000153 128112 000315 86369 000178 00545 000156 000320 0008 430141 00089 700219 400140 000132 00077 00086 33930 00073 000140 000300 00098 732181 140180 75078 771223 000128 728179 00012 00063 000197 00086 33930 000132 000140 000300 00098 732180 750174 508148 00057 51773 000223 00063 00088 22748 000175 000128 72812 00078 771179 000101 000197 000319 000181 14078 000230 000169 00029 500207 00094 00057 000180 000252 280167 00063 000197 000121 000166 241172 000164 000443 843160 000294 94931 000125 000233 000135 000163 000150 000170101 000140 000189 00034 000130 000200 000130 000200 000157 000160 000102 720140 000162 500215 0004 30045 55116 30071 000518 00018 000173 629150 234220 00086 000142 000120 726480 681199 520102 000189 247123 000155 000194 593470 000118 800173 156145 596117 000230 000141 000250 000114 000223 00076 00055 00039 86937 00070 000207 000248 420234 000150 000240 000369 000109 000188 00071 000260 000193 00070 00055 10484 00038 000118 425152 050330 0008 514279 000135 800176 96935207 00045 982115 000150 00078 582157 00070 000180 229196 028115 000236 00076 000114 00034 000267 00072 00092 000260 000175 68482 000122 304219 000204 500181 34238 000264 000167 00027 347149 000120 00021 65751 00080 996120 753150 000171 00047157 800115 00017 08780 84429 17624 000110 00098 200105 600120 00029 176105 600120 000147 000236 24791 000128 200144 000172 000314 000189 000279 000385 500168 960174 000285 000110 000184 000119 889150 000128 00071 500163 000155 00058 80011 02790 000167 220145 35480 00060 000260 000137 000190 00075 879213 15996 114197 373201 00092 000163 00062 000176 00064 745146 000110 000255 32086 500189 000225 00079 000145 00097 600288 00094 385288 000283 00089 000245 000138 50022 000200 00090 607100 000301 750306 00082 000126 00057 12330 000166 00059 000118 800175 000188 525138 000180 00047 69559 184104 250125 00028 000147 00098 00052 60067 500146 000447 450225 000308 000128 000121 000125 000332 543176 000284 000167 99453 00098 066113 000160 000362 222120 279148 000220 00014 75365 000118 00088 89899 74130 000118 00088 89899 74130 000245 947183 73648 066240 000109 000161 000131 67275 000138 500257 000120 32245 000274 73336 00072 703168 98377 494265 01945 000179 00099 840184 000213 000120 000125 000266 000220 00062 000140 000203 000350 000157 00054 70059 02927 000158 000194 000144 000154 250184 000166 350220 000115 800176 000195 00095 00080 000230 000123 000138 554111 53471 000195 000123 000230 000138 554111 53471 000136 00052 653165 000118 00025 590162 300210 000152 15799 865181 000110 000115 000130 000176 00074 735222 000114 650122 00016 300204 00084 21327 431158 000185 000107 299200 00088 000165 000131 000147 000177 00047 000205 000124 730212 667353 00028 500241 77785 00076 00041 20232 000160 00062 89594 500311 546205 000115 000108 517225 653135 000138 021225 65362 89592 400156 33366 000120 000153 101158 000170 000158 71597 500126 372212 000238 00074 000174 100148 00014 82997 600118 396196 602193 10076 00076 000108 51791 00082 00047 000148 000301 700116 000125 80059 900125 000100 000181 000280 000198 000240 00084 40026 000105 00077 000101 00090 000168 26979 000145 000158 00099 30059 600133 944360 000209 000360 000107 347209 000133 94442 00074 000256 00010 90057 19337 000107 00065 087170 0006143 00017 08738 00033 00051 300110 81690 56162 00072 00095 100104 000120 000120 820121 500260 000147 31182 000221 80069 000133 00085 00095 000161 000118 667180 000126 630195 000118 000243 000185 00085 000137 000150 600162 000146 00065 2129 300128 000217 000110 032222 052377 000130 000211 000230 000290 000162 000110 000175 00070 000232 66859 207117 000250 000333 333152 1885 900126 00078 900339 000116 0004 500135 000159 500499 99994 500250 000133 000103 000141 00031 24042 100105 60082 000123 344140 000127 028370 00097 23680 00060 00025 322131 000121 000194 500205 000155 500125 43727 00088 000164 000100 000200 000185 00074 000180 000249 90069 000140 000370 00097 23680 00060 00025 322121 00011 459224 00090 976194 500125 43727 000232 000185 17563 00088 000100 000131 000205 000200 000185 000155 500164 000180 00074 00069 000202 00061 000249 90016 852170 50084 000110 000137 37441 800542 60065 31144 000185 000120 000143 000211 000124 300201 0007 29751 000160 00089 00010 000189 000151 000145 000178 113120 000280 000120 000235 000120 000145 555130 10067 000117 000160 000158 00080 00050 606119 570386 611210 000143 000398 000193 000180 00095 200183 18825 77048 000277 000102 466139 50099 018133 000134 000203 00068 350165 000115 0008 000180 000183 000157 800138 200265 000110 00044 812137 022150 36819 000107 000220 00018 50067 700140 000168 00074 80054 000151 00045 01786 872228 00072 000116 467140 00051 000139 55141 000169 00085 206233 800160 354101 00078 00026 949175 000115 00098 000139 800112 000117 000167108 390195 000197 50055 000148 369174 990220 00082 798112 00060 00089 264200 000177 338100 300145 000190 000168 200107 000145 000155 000143 00087 200220 160402 000276 00040 000112 000121 00046 00085 849153 00065 000257 000170 00090 879130 348214 597214 59790 879210 000150 000109 000102 487135 433108 000206 000198 000325 000208 15

In [ ]:
df_final.total_km.sample (n = 10)

In [ ]:
## Действительно, Python обычно выдает сообщения об ошибках, 
## которые помогают нам подумать, в каком направлении мы можем двигаться.

## Давайте воспользуемся этой подсказкой для преобразования типа данных нашего столбца.
## Сначала мы попробуем pd.to_numeric функцию, так как согласно нашей подсказке это первое, что приходит на ум.

## На этот раз мы получаем эту ValueError: Unable to parse string "100 181" at position 0
## Не очень понятное сообщение, что на этот раз делать ))

df_final['total_km'].apply(pd.to_numeric)

In [ ]:
## Заметим, что в 100 181 есть пробел
## давайте удалим его, а затем применим результаты к столбцу, преобразуя их в тип float.

## astype(float) использовалось в качестве меры предосторожности, 
## поскольку преобразование строки типа «100 181» непосредственно в целое число 
## могло вызвать ошибку из-за присутствия нечисловых символов (в данном случае пробела). 
## Преобразуя в число с плавающей запятой, 
## вы допускаете возможность присутствия в данных нецелочисленных значений без возникновения ошибок.


df_final['total_km'].str.replace(' ', '').astype(float)

In [ ]:
df_final.dtypes

In [ ]:
## Мы можем использовать метод str() в сочетании с replace() для выполнения 
## операций над отдельными столбцами, но не над несколькими столбцами одновременно.

## потому что метод str может быть применительно к серией pandas, которая, 
## как мы помним, представляет собой одномерный массив. 
## Но этот метод нельзя применить к двумерному фрейму данных в пандах.


df_final['total_km'].str.replace(' ', '').astype(float).head(2)

In [ ]:
## Вместо этого мы будем использовать комбинацию map и лямбда-функций, 
## чтобы иметь возможность изменять несколько столбцов одновременно. 

## Подробнее о map  и  lambda функциях см. в нашем py_bsacis файле.
df_final[['price','total_km', 'hp']].map(lambda x: float(x.replace(' ', '')))

In [ ]:


df_final[['price','total_km', 'hp']] = df_final[['price','total_km', 'hp']].map(lambda x: float(x.replace(' ', '')))

In [ ]:
df_final.info()

In [ ]:
## Наконец, давайте изменим наш столбец year.
## Один из распространенных вариантов — преобразовать его в целочисленный тип, 
## предполагая, что столбец year содержит целые годы. 

df_final['year'] = df_final['year'].str.replace(' ', '').astype(int)

In [ ]:
df_final.info()

In [ ]:
df_final.describe()

In [ ]:
df_final.head(5)

In [ ]:
# Save as CSV
df_final.to_csv('data/cleaned_final_data.csv', index=False)

# Save DataFrame object using pickle (optional)
# df.to_pickle('data/cleaned_final_data.csv')