##  Python for loop 
Представьте, что у вас есть корзина с бананами. Вы хотите посмотреть каждый банан в корзине и что-то с ним сделать. <br> 
Вот как это работает на Python:<br> 
Создайте корзину с бананами (это наш список или последовательность).  Давайте назовем его fruits:

In [3]:
fruits = ["яблоко", "банан", "вишня"]
fruits

['яблоко', 'банан', 'вишня']

Пройдитесь по каждому банану в корзине. Мы используем цикл for:  <br>
Этот код означает: “Для каждого элемента x в списке fruits, напечатайте его”. Таким образом, мы получим вывод

In [7]:
for x in fruits:
    print('вах, вах, вах!!!!', x)

вах, вах, вах!!!! яблоко
вах, вах, вах!!!! банан
вах, вах, вах!!!! вишня

##  Python Enumerate

Представьте, что у вас есть корзина с бананами (опять они!). <br>
На этот раз каждому банану мы дадим номер. Вот как это работает:<br><br>
Создайте корзину с бананами (это наш список или последовательность). Давайте назовем его fruits:

In [9]:
fruits2 = ["яблоко", "банан", "вишня"]
fruits2

['яблоко', 'банан', 'вишня']

Пройдитесь по каждому банану в корзине и дайте каждому номер. Мы используем enumerate:

In [10]:
for i, x in enumerate(fruits2):
    print(f"Банан {i + 1}: {x}")

print ('*' *100)

for i, x in enumerate(fruits2, start = 1):
    print(f"Банан {i + 1}: {x}")

Банан 1: яблоко
Банан 2: банан
Банан 3: вишня
****************************************************************************************************
Банан 2: яблоко
Банан 3: банан
Банан 4: вишня

## Pandas Series

Pandas Series (Серия в Pandas) — это одномерный объект, похожий на массив с метками, <br>
который может содержать данные любого типа. Его можно представить как столбец в таблице <br>
или как один столбец в DataFrame. Серия состоит из двух основных компонентов: меток (индексов) и данных. <br>

Давайте рассмотрим несколько примеров создания и использования серий:<br>

Создание серии из списка: (LIST)

In [12]:
import pandas as pd
data = [10, 20, 30, 40, 50]
my_series = pd.Series(data)
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Создание серии из словаря:

In [14]:
import pandas as pd
grades = {"Semester1": 3.25, "Semester2": 3.28, "Semester3": 3.75}
my_series = pd.Series(grades)
my_series

Semester1    3.25
Semester2    3.28
Semester3    3.75
dtype: float64

##  Pandas DataFrame

In [2]:
import pandas as pd

# Create a dictionary with data
zoo_data = {
    'Животное': ['Слон', 'Жираф', 'Панда', 'Кенгуру', 'Обезьяна'],
    'Количество': [3, 5, 2, 4, 6],
    'Цвет': ['Серый', 'Жёлтый', 'Чёрно-белый', 'Коричневый', 'Коричневый']
}

# Create a DataFrame
zoo_df = pd.DataFrame(zoo_data)

# Add some more columns
zoo_df['Местоположение'] = ['Африка', 'Африка', 'Азия', 'Австралия', 'Южная Америка']
zoo_df['Милый'] = [True, True, True, False, True]

# Print the DataFrame
zoo_df

   Животное  Количество         Цвет Местоположение  Милый
0      Слон           3        Серый         Африка   True
1     Жираф           5       Жёлтый         Африка   True
2     Панда           2  Чёрно-белый           Азия   True
3   Кенгуру           4   Коричневый      Австралия  False
4  Обезьяна           6   Коричневый  Южная Америка   True

## Pyhton map and lambda

#####  В этом примере мы создаем функцию double(), которая принимает число и удваивает его значение. <br> Затем у нас есть список чисел от 1 до 5, который мы хотим удвоить. <br>  Мы используем функцию map(), чтобы применить функцию double() к каждому числу в списке. <br>  Результатом будет новый список, содержащий удвоенные значения исходных чисел. После этого мы выводим результат на экран.

In [1]:
# Создаем функцию, которая удваивает число
def double(x):
    return x * 2

# Создаем список чисел
numbers = [1, 2, 3, 4, 5]

# Применяем функцию double() к каждому числу в списке с помощью функции map()
удвоенные_числа = list(map(double, numbers))

# Выводим результат
print(удвоенные_числа)  # Выведет: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

#### В этом примере мы используем лямбда-функцию, чтобы удвоить каждое число в списке. <br> Лямбда-функция - это короткая функция, которую мы можем создать прямо на месте, без необходимости объявления ее отдельно. <br> Она начинается с ключевого слова lambda, за которым следует аргумент (в данном случае x), затем двоеточие, а после него - выражение, которое определяет, что функция должна вернуть (в данном случае x * 2). <br>  Мы используем функцию map(), чтобы применить лямбда-функцию к каждому числу в списке numbers. Результатом будет новый список, содержащий удвоенные значения исходных чисел.

In [2]:
# Создаем список чисел
numbers = [1, 2, 3, 4, 5]

# Применяем лямбда-функцию к каждому числу в списке с помощью функции map()
удвоенные_числа = list(map(lambda x: x * 2, numbers))

# Выводим результат
print(удвоенные_числа)  # Выведет: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]